.wrapper {
    background-color: var(--bg-primary-color);
}

.content-section {
    background-color: transparent;
    margin: 0 100px 0 100px;
    display: flex;
    justify-content: space-between;
    height: 400px;
    align-items: center;
    padding: 20px;
}

.content-section.reversed {
    flex-direction: row-reverse;
    border-radius: 20px;
}

.text-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    margin: 20px;
    height: 100%;
}

.content-section.reversed .text-section {
    margin: 20px;
}

.title {
    font-family: var(--font);
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.subtitle {
    font-family: var(--font);
    font-size: 1.2rem;
    color: #639DF4;
    margin-top: 0;
}

.description {
    font-family: var(--font);
    font-size: 1rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}

.image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 20px;
}

.image {
    width: 500px;
    height: 100%;
    border-radius: 8px;
}